<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link media="all" href="/styles/style.css" rel="stylesheet">
    <title>gameplace</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="content">
    <h1 th:text="${'point='+session.gamecount+' step='+session.gamestep}"/>
</div>
<div class="content">
    <form th:action="@{/game}" method="post">

        <h1 th:text="${word.engWord}"/>
        <input type="text" name="answer" placeholder="answer" onchange="this.value=this.value.toLowerCase();"
               autofocus="true" autocomplete="off"/>
        <button type="submit" id="game" name="id" th:value="${word.id}">ОТВЕТИТЬ</button>

    </form>
</div>
</body>
</html>