<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link media="all" href="/styles/style.css" rel="stylesheet">
    <title>login</title>
</head>
<body>
<!--<header th:insert="blocks/header :: header"></header>-->
<div class="frame">
    <form method="POST" action="/login">
        <h2>Вход в систему</h2>
        <div>
            <input name="username" type="text" placeholder="Username"
                   onchange="this.value=this.value.toLowerCase();" autofocus="true"  maxlength="20"/>
            <input name="password" type="password" placeholder="Password" maxlength="20"/>
            <button type="submit">Log In</button>
            <h4><a href="/registration">Зарегистрироваться</a></h4>
        </div>
    </form>

</div>
</body>
</html>