@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

body {
background: url(/styles/flag.jpg) no-repeat center center fixed;
background-size: cover;
background-color: #606060;
margin: 200 px;
}
.menu-main {
    list-style: none;
    margin: 5px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
    background: white;
    opacity: 0.7;
}

.menu-main li {
    display: inline-block;
}

.menu-main li:after {

    color: #606060;
    display: inline-block;
    vertical-align: top;
}

.menu-main li:last-child:after {
    content: none;
}

.menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 47px;
    text-transform: uppercase;
    display: inline-block;
}

.menu-main a,
.menu-main a:visited {
    color: #9d999d;
}

.menu-main a.current,
.menu-main a:hover {
    color: #feb386;
}
.frame {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /*width: 500px;*/
    width: 50%;
    height: auto;
    background: rgba(255, 245, 215, .5);
}
.frame form {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 300px;
    margin: 0 auto;
}
.frame textarea{
    font-family: 'Ubuntu Condensed', sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #606060;
    outline: none;
    background: #F9F0DA;
    color: black;
}
 .frame input {

    font-family: 'Ubuntu Condensed', sans-serif;
    width: 100%;
   text-align: center;
    margin-top: 20px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #606060;
    outline: none;
    background: #F9F0DA;
    color: black;
}
 .frame button {
    position: relative;
border: 2px solid #606060;
    width: 100%;

    margin-top: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    background: #32CD32;
    cursor: pointer;
}

.content {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Ubuntu Condensed', sans-serif;
    list-style: none;
    padding: 20px;/* add padding*/
    margin: 10px 0 ;/*change margin 0->10px*/
    text-align: center;
    background: white;
    opacity: 0.7;
}

.content input {

    font-family: 'Ubuntu Condensed', sans-serif;
    width: 60%;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #606060;
    outline: none;
    background: #F9F0DA;
    color: black;
}

.content button {
  font-family: 'Ubuntu Condensed', sans-serif;
  position: relative;
  border: 2px solid #606060;
    width: 100%;

    margin-top: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    background: #32CD32;
    cursor: pointer;
}
#game {
font-family: 'Ubuntu Condensed', sans-serif;
  position: relative;
  border: 2px solid #606060;
    width: 60%;

    margin-top: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    background: #32CD32;
    cursor: pointer;
}